[submodule "test/packages/micropython-esp-wifi"]
	path = test/packages/micropython-esp-wifi
	url = https://github.com/burgrp/micropython-esp-wifi.git
[submodule "test/packages/micropython-vec"]
	path = test/packages/micropython-vec
	url = https://gitlab.com/nickoala/micropython-vec.git
